*{
  margin:0;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
img {
  height: 300px;
  width:fit-content;
}
.hearder-list{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;

}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
.nav-title{
  color: white;
  font-weight: bold;
  margin-right: 50px;
}
.justify-content-center{
  text-align: center;
}
.list-item:hover{
  color: darkblue;
  font-size: large;
  width: auto !important;
}
.list-item{
  color: darkblue;
  font-size: large;
  width: auto !important;
}
.Container{
padding-top: 50px;
border: 1px  black;
padding-bottom: 50px;
background: rgba(173, 174, 174,0.6) !important;
margin: 10px 0 0 0;
}

body{
  background: rgba(173, 174, 174,0.2) !important;
}
.list-input{
  width: auto !important;
  margin-left: auto !important ;
  margin-right: auto !important ;
}
.nav-items:hover{
  color: white;
}
.nav-items{
  font-weight: bolder;
}
.alert{
  background: rgb(164, 190, 200) !important;
  color: black !important;
}